@import "./styles/player.css";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

#world {
    --aspect-ratio: calc(16 / 9);
    width: 100vw;
    max-width: calc(100vh * var(--aspect-ratio));
    height: 100vh;
    max-height: calc(100vw / var(--aspect-ratio));
    font-size: min(1vw, calc(1vh * var(--aspect-ratio)));

    overflow: hidden;
    position: relative;
    background-color: #141414;
}

/**********************
    ITEMS
**********************/
.item {
    position: absolute;
    background-color: red;
}

/**********************
    PLATFORMS
**********************/
.platform {
    --color-ground: #444;
    --color-ground-dark: #333;
    --color-ground-light: #555;
    --color-top: #d0d0d0;
    --color-top-dark: #888;
    --color-dust-light: #bbb;
    --color-dust-dark: #555;
    position: absolute;
    background-color: var(--color-ground);
    border-radius: 0.25em;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--column-width));
    grid-template-rows: repeat(var(--rows), var(--row-height));
}

.platform--behind {
    --color-ground: #282828;
    --color-ground-dark: #181818;
    --color-ground-light: #383838;
    z-index: -10;
}

.platform__grid-top {
    position: relative;
}

.platform__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1em;
    background-color: var(--color-top);
    z-index: 10;
}
.platform__top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3em;
    background-color: var(--color-top-dark);
}
.platform__top::before {
    content: "";
    position: absolute;
    bottom: -0.7em;
    left: 0;
    right: 0;
    height: 0.7em;
    background-color: var(--color-ground-dark);
    display: flex;
    z-index: -10;
}

.platform__body {
    position: relative;
    height: 100%;
    width: 100%;
}

.platform__dust {
    position: absolute;
    border-radius: 0.25em;
    background-color: var(--color-dust-dark);
    width: 0.5em;
    height: 0.5em;
}

.platform__pebble {
    --size: 0.5em;
    --color: var(--color-ground-dark);
    position: absolute;
    border-radius: 0.25em;
    background-color: var(--color);
    width: var(--size);
    height: var(--size);
}
.platform__pebble--big {
    --size: 1em;
}
.platform__pebble--square {
    --size: 2em;
    transform: rotate(30deg);
    border-radius: 0.5em;
}
.platform__pebble--light {
    --color: var(--color-ground-light);
}

.platform__dust:nth-child(n + 4) {
    background-color: var(--color-dust-light);
}

.platform__pebble:nth-child(1) {
    left: 5em;
    top: 6em;
}
.platform__pebble:nth-child(2) {
    transform: rotate(-15deg);
    left: 12em;
    top: 7em;
}
.platform__pebble:nth-child(3) {
    left: 1.5em;
    top: 3em;
}
.platform__pebble:nth-child(4) {
    left: 11em;
    top: 4em;
}
.platform__pebble:nth-child(5) {
    left: 17em;
    top: 9em;
}
.platform__pebble:nth-child(6) {
    left: 7em;
    top: 2.5em;
}
.platform__pebble:nth-child(7) {
    left: 16em;
    top: 4.5em;
}
.platform__pebble:nth-child(8) {
    left: 3.5em;
    top: 11em;
}

/******************************
    GOAL
******************************/
.goal {
    position: absolute;
    background-color: green;
}
