@import "./styles/player.css";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

#world {
    --world-to-pixel-scale: 1px;
    font-size: var(--world-to-pixel-scale);
    overflow: hidden;
    position: relative;
    background-color: #141414;
}

/**********************
    PLATFORMS
**********************/
.platform {
    --color-ground: #888;
    --color-dust-light: #bbb; 
    --color-dust-dark: #555; 
    position: absolute;
    background-color: var(--color-ground);
    border-radius: 0.5em;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--column-width));
    grid-template-rows: repeat(var(--rows), var(--row-height));
}

.platform--behind {
    z-index: -10;
}

.platform__grid-top {
    position: relative;
}

.platform__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.25em;
    background-color: #f9f9f9;
    display: flex;
    z-index: 10;
}

.platform__top-round {
    width: 2.5em;
    height: 2em;
    background-color: #f9f9f9;
    border-radius: 50%;
}


.platform__body {
    position: relative;
    height: 100%;
    width: 100%;
}

.platform__dust {
    position: absolute;
    border-radius: 999em;
    background-color: var(--color-dust-dark);
    width: 0.5em;
    height: 0.5em;
}

.platform__dust:nth-child(2n-1) {
    width: 1em;
    height: 1em;
}
.platform__dust:nth-child(n+4) {
    background-color: var(--color-dust-light);
}

.platform__dust:nth-child(1) {
    top: 4em;
    left: 4em;
}
.platform__dust:nth-child(2) {
    top: 11em;
    left: 6em;
}
.platform__dust:nth-child(3) {
    top: 6em;
    left: 15em;
}
.platform__dust:nth-child(4) {
    top: 3.5em;
    left: 9em;
}
.platform__dust:nth-child(5) {
    top: 12em;
    left: 2em;
}
.platform__dust:nth-child(6) {
    top: 13em;
    left: 18em;
}

.goal {
    position: absolute;
    background-color: green;
}
