.player--running .player__arm {
    animation: swing 0.4s linear infinite both;
}
.player--running .player__arm--right {
    animation-direction: reverse;
}
.player--running .player__foot {
    animation: swing 0.4s linear infinite both;
}
.player--running .player__foot--left {
    animation-direction: reverse;
}

@keyframes swing {
    0%,
    50%,
    100% {
        transform: rotate(0);
    }
    12.5%,
    37.5% {
        transform: rotate(34.75deg);
    }
    25% {
        transform: rotate(45deg);
    }
    62.5%,
    87.5% {
        transform: rotate(-34.75deg);
    }
    75% {
        transform: rotate(-45deg);
    }
}